__pycache__/
*.pyc
.venv/
venv/
.env
node_modules/
.next/
qdrant_storage/
*.log
.DS_Store
**/data/raw/*.pdf
data/raw/*.pdf
backend/data/raw/*.pdf

# Conserver les fichiers .gitkeep
!**/data/raw/.gitkeep